<footer class="bg-whote text-center text-lg-start text-principal">
    <div class="footer-banner d-flex justify-content-center text-center position-relative">
        <div class="w-25 d-flex flex-column align-items-center position-absolute bottom-0 mb-5">
            <div class="mb-4 footer-image d-flex justify-content-center">
                <img class="" src="images/Footer_Image.png" alt="">
                <div class="footer-image-bg"></div>
            </div>
            <h3 class="text-light mb-4">¿Necesitas mejorar la limpieza <br> en tu oficina o industria?</h3>
            <button type="button" class="btn btn-cotiza text-uppercase rounded-pill px-4 mb-3">Cotiza ahora</button>
        </div>
    </div>
    <div class="container mt-5">
        <div class="d-flex">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                <div class="d-flex align-items-center justify-content-center mb-4"
                    style="width: 150px; height: 150px;">
                    <img src="images/Group.png" height="100" alt="" loading="lazy" />
                </div>
            </div>
            <!--Grid column-->

            <div class="row container justify-content-evenly my-5">
                <div class="d-flex justify-content-evenly">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="mb-4 fw-bold fs-5">Consorcio Geppi</h5>

                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="#!" class="text-principal fw-medium text-decoration-none">Nosotros</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-principal fw-medium text-decoration-none">Servicios</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-principal fw-medium text-decoration-none">Sostenibilidad</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-principal fw-medium text-decoration-none">Cotizacion</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="mb-4 fw-bold fs-5">Consorcio Geppi</h5>

                        <ul class="list-unstyled">
                            <li>
                                <p class="text-principal fw-medium text-decoration-none"><i class="bi bi-linkedin"></i>
                                    Linkedin
                                </p>
                            </li>
                            <li>
                                <p class="text-principal fw-medium text-decoration-none"><i class="bi bi-facebook"></i>
                                    Facebook
                                </p>
                            </li>
                            <li>
                                <p class="text-principal fw-medium text-decoration-none"><i class="bi bi-instagram"></i>
                                    Instagram</p>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <div class="ms-5">
                    <h5 class="fw-normal fs-6 ms-5 ps-5 mt-5">Si tiene alguna pregunta, no dude en llamar al (+51) 923
                        080 197</h5>
                </div>
            </div>
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 text-footer border-top border-1 container bf-color">
        consorcio geppi © 2024. Todos los derechos reservados - Desarrollado por dogma publicidad
    </div>
    <!-- Copyright -->
</footer>