<div class="banner-sust1">
    <div class="banner-box d-flex h-100 justify-content-center">
        <div class="position-relative box-m border-green border-2 border-top border-end z-1 border-radius w-100">
            <div class="box-p">
                <h1 class="text-detail text-light">Compromiso con la <br> sostenibilidad</h1>
                <p class="text-light">
                    Creación de valor, compromiso ético y social y respeto al medio <br> ambiente, nuestro foco.
                </p>
            </div>
        </div>
    </div>
    <img class="position-absolute banner-detail" src="images/banner-detail.png " alt="">
</div>

<div class="secsust1 pb-5">
    <div class="secsust1div mt-5 pt-4 mb-5">
        <h3 class="blue-principal mt-5 fs-3">
            Responsabilidad
        </h3>
        <span class="color-skyblue fs-3 fw-semibold">social corporativa</span>
        <p class="blue-principal mt-5 mb-4">
            Consorcio Geppi es una compañía con valores bien definidos, donde nuestra prioridad es el compromiso con las
            preocupaciones sociales, laborales, ambientales y el respeto a los Derechos Humanos, lo cual se refleja en
            nuestra forma de actuar. La estrategia del Consorcio Geppi se basa en la sostenibilidad económica de
            nuestras empresas, la estabilidad y diversidad en el empleo, el uso responsable de los recursos y la
            mitigación y adaptación al cambio climático.
        </p>
        <p class="blue-principal">
            Los pilares de la Responsabilidad Social Corporativa de Consorcio Geppi incluyen el desarrollo
            socioeconómico sostenible, la eficiencia en la implementación de medidas de transparencia y buen gobierno
            corporativo, y una firme apuesta por la diversidad en cuatro áreas clave: género, generacional, funcional y
            cultural. También promovemos la integración de colectivos en riesgo de exclusión.
        </p>
    </div>
</div>

<div class="secsust2 d-flex align-items-center">
    <div class="secsust2div">
        <div class="ps-3 pt-3">
            <h3 class="blue-principal fs-1">
                Los <span class="color-skyblue">3 pilares</span> de nuestra <br>
                responsabilidad
            </h3>
        </div>
        <div class="s3div row mb-4">
            <div
                class="col m-4 bg-light d-flex justify-content-center p-3 flex-column border border-1 border-radius border-black">
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex p-1">
                        <img class="img-fluid" src="images/hands2.png" alt="">
                    </div>

                </div>
                <p>
                    Compromiso con la Seguridad y Protección
                    educar y sensibilizar sobre la importancia de la prevención
                </p>
            </div>
            <div
                class="col m-4 bg-light d-flex justify-content-center p-3 flex-column border border-1 border-radius border-black">
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex p-1">
                        <img class="img-fluid" src="images/hands2.png" alt="">
                    </div>

                </div>
                <p>
                    Implementar prácticas sostenibles en las operaciones diarias, como el uso de tecnología que minimice
                    el impacto ambiental
                </p>
            </div>
            <div
                class="col m-4 bg-light d-flex justify-content-center p-3 flex-column border border-1 border-radius border-black">
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex p-1">
                        <img class="img-fluid" src="images/hands2.png" alt="">
                    </div>

                </div>
                <p>
                    Contribuir al desarrollo social y económico de la comunidad mediante iniciativas como programas de
                    capacitación en limpieza integral
                </p>
            </div>
        </div>
    </div>
</div>

<div class="secsust3 d-flex align-items-center">
    <div class="secsust3div">
        <img src="images/sustbanner2.png" alt="">
    </div>
</div>