<div class="sticky-top">

  <ul class="nav subnav py-1 ">
    <div class="container d-flex justify-content-between">
      <div class="d-flex">
        <li class="nav-item d-flex align-items-center">
          <i class="bi bi-envelope-fill text-light"></i>
          <a class="nav-link subnav-text px-2 text-decoration-underline" href="mailto:contacto&#64;consorciogeppi.com">contacto&#64;consorciogeppi.com</a>
        </li>
        <li class="nav-item d-flex align-items-center ps-3">
          <i class="bi bi-telephone-fill text-light"></i>
          <a class="nav-link subnav-text px-2" href="#">+51 923 080 197</a>
        </li>
      </div>
      <div class=" d-flex  align-items-center">
        <div>
          <a href="">
            <i class="bi bi-facebook text-light"></i>
          </a>
        </div>
        <div class="ps-2 ">
          <a href="">
            <i class="bi bi-instagram text-light"></i>
          </a>
        </div>
      </div>
    </div>
  </ul>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="images/Group.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-5">
            <a class="nav-link active navtext" aria-current="page" href="/home">INICIO</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link active navtext" aria-current="page" href="/us">NOSOTROS</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link active navtext" aria-current="page" href="/services">SERVICIOS</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link active navtext" aria-current="page" href="/sustainability">SOSTENIBILIDAD</a>
          </li>
          <button type="button" class="btn btn-info rounded-pill"><a class="text-light text-decoration-none" href="/contact">CONTACTANOS</a></button>
        </ul>
      </div>
    </div>
  </nav>
</div>