<div class="banner-contact1">
    <div class="banner-box d-flex h-100 justify-content-center">
        <div class="position-relative box-m border-green border-2 border-top border-end z-1 border-radius w-100">
            <div class="box-p">
                <h1 class="text-detail text-light">Compromiso con la <br> sostenibilidad</h1>
                <p class="text-light">
                    Creación de valor, compromiso ético y social y respeto al medio <br> ambiente, nuestro foco.
                </p>
            </div>
        </div>
    </div>
    <img class="position-absolute banner-detail" src="images/banner-detail.png " alt="">
</div>

<div class="contactsec1">
    <div class="contactsec1div d-flex">
        <div class="form1">
            <h3 class="text-light fs-1 mb-5">
                Contacta <br>
                con <span class="color-skyblue">nosotros</span>
            </h3>
            <div class="d-flex mb-4">
                <i class="bi me-4 color-skyblue fs-2 bi-envelope"></i>
                <p class="m-0 d-flex align-items-center text-light">contacto&#64;consorciogeppi.com</p>
            </div>
            <div class="d-flex mb-4">
                <i class="bi me-4 color-skyblue fs-2 bi-telephone"></i>
                <p class="m-0 d-flex align-items-center text-light">(+51) 923 080 197 / (01) 333 3333</p>
            </div>
            <div class="d-flex mb-4">
                <i class="bi me-4 color-skyblue fs-2 bi-geo-alt"></i>
                <p class="m-0 d-flex align-items-center text-light">Av. Jose Faustino Sanchez Carrión Nro. 790, Ofic. # 1601</p>
            </div>
        </div>
        <div class="form2 ps-5">
            <form>
                <div class="row mb-3 pt-4">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombres y Apellidos">
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" id="correo" placeholder="Correo">
                    </div>
                </div>
                <div class="row mb-3 pt-3">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="ruc" placeholder="RUC">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="telefono" placeholder="Teléfono">
                    </div>
                </div>
                <div class="mb-3 pt-3">
                    <input type="text" class="form-control" id="empresa" placeholder="Empresa">
                </div>
                <div class="mb-3 pt-3">
                    <textarea class="form-control" id="mensaje" rows="3" placeholder="Mensaje"></textarea>
                </div>
                <button type="button" class="btn btn-cotiza text-uppercase rounded-pill px-4 mb-3 mt-5">Ponerse en contacto</button>
            </form>
        </div>
    </div>
</div>

<div class="section4us">
    <div class="section4usdiv border-top border-end border-green border-3 border-radius pt-5">
        <div class="row">
            <div class="col">
                <span class="green fw-semibold">Avalados por</span>
                <h4 class="blue-principal fw-semibold fs-3">Certificaciones y <br>
                    homologaciones
                </h4>
            </div>
            <div class="col-6 pe-5">
                <p class="p-grey fs-5">
                    Contar con certificaciones y homologaciones garantiza la calidad de nuestros servicios, el
                    cumplimiento de estándares internacionales, y demuestra nuestro compromiso con la excelencia y
                    sostenibilidad, ofreciendo a nuestros clientes un servicio confiado.
                </p>
                <div class="d-flex justify-content-center mt-5 pt-2">
                    <img class="" src="images/cert-icon.png" alt="">
                    <img class="" src="images/cert-icon.png" alt="">
                    <img class="" src="images/cert-icon.png" alt="">
                </div>
            </div>
            <div class="col position-relative pe-5 me-5" style="position: absolute;bottom: -90px;left: -10px;
        ">
                <div>
                    <img class="position-absolute bottom-0 z-2" src="images/personal1.png" alt="">
                    <img class="position-absolute bottom-0 l-50" src="images/rectangle.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 483px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15605.59190202725!2d-77.06019044413179!3d-12.084884452830721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c952a3bdf39b%3A0x26fcfca3c3557218!2sConsorcio%20Geppi!5e0!3m2!1ses-419!2spe!4v1729963865851!5m2!1ses-419!2spe" width="1920" height="487" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>