<div class="banner-services1">
    <div class="banner-box d-flex h-100 justify-content-center">
        <div class="position-relative box-m border-green border-2 border-top border-end z-1 border-radius w-100">
            <div class="box-p">
                <h1 class="text-detail text-light fs-1">¡Transforma Tu Espacio con Nuestros <br>
                    Servicios de Limpieza!</h1>
            </div>
        </div>
    </div>
    <img class="position-absolute banner-detail" src="images/banner-detail.png " alt="">
</div>
<div class="services-section1">
    <div class="d-flex">
        <div class="services-textbox">
            <h1 class="blue-principal">Limpieza <br>
                <span class="color-skyblue">Integral</span>
            </h1>
            <p>
                Intermediación laboral, para labores de limpieza permanente en bien de la conservación, protección y
                mantenimiento de instalaciones, a la medida del cliente, garantizando un nivel óptimo de limpieza e
                higiene.
            </p>
            <div class="pt-4 ps-4">
                <p class="list-detail">Limpieza de edificios y oficinas</p>
                <p class="list-detail">Limpieza de supermercados y tiendas</p>
                <p class="list-detail">Limpieza de hospitales y Clínicas</p>
                <p class="list-detail">Limpieza de centros comerciales</p>
                <p class="list-detail">Limpieza de plantas industriales y obras concluidas</p>
                <p class="list-detail">Limpieza de entidades bancarias y centros educativos</p>
            </div>
            <button type="button" class="btn btn-info rounded-pill py-2 px-4 text-uppercase my-4">Cotiza ahora</button>
        </div>
        <div class="d-flex">
            <div class="ms-5">
                <img class="imgservice" src="images/imgservices2.png" alt="">
            </div>
            <div class="ms-5">
                <img class="imgservice border border-start border-2" src="images/imgservices1.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="services-section1">
    <div class="d-flex">
        <div class="d-flex">
            <div class="me-5">
                <img class="imgservice2" src="images/imgservices1.png" alt="">
            </div>
            <div class="me-5">
                <img class="imgservice2" src="images/imgservices2.png" alt="">
            </div>
        </div>
        <div class="services-textbox2 bg-bluep pt-5">
            <h1 class="green py-4">Saneamiento Ambiental <br>
            </h1>
            <p class="text-light">
                Diseñado para asegurar espacios limpios y saludables, libres de contaminantes y plagas. Nuestro equipo
                de expertos utiliza técnicas avanzadas y productos ecológicos para eliminar eficazmente microorganismos.
            </p>
            <div class="pt-4 ps-4 text-light">
                <p class="list-detail">Saneamiento en Oficinas y Centros Corporativos</p>
                <p class="list-detail">Saneamiento en Edificios Residenciales y Condominios</p>
                <p class="list-detail">Saneamiento en Centros Educativos</p>
                <p class="list-detail">Saneamiento en Instituciones de Salud</p>
                <p class="list-detail">Saneamiento en Establecimientos Comerciales y Restaurantes</p>
            </div>
            <button type="button" class="mt-5 btn btn-cotiza text-uppercase rounded-pill px-4 mb-3">Cotiza
                ahora</button>
        </div>
    </div>
</div>

<div class="services-section1">
    <div class="d-flex">
        <div class="services-textbox">
            <h1 class="blue-principal">
                Control de Plagas
            </h1>
            <p>
                Servicio que garantiza la eliminación efectiva de insectos, roedores y otros organismos dañinos. Nuestro
                enfoque se basa en métodos seguros y ecológicos, asegurando que su espacio esté protegido sin
                comprometer la salud de las personas ni el medio ambiente. Utilizamos técnicas avanzadas de prevención y
                control para garantizar resultados duraderos.
            </p>
            <div class="pt-4 ps-4">
                <p class="list-detail">Control Físico: Trampas y/o barreras.</p>
                <p class="list-detail">Control Cultural: Capacitación a personal del cliente.</p>
                <p class="list-detail">Control Higiénico: Hábitos de higiene y aseo.</p>
                <p class="list-detail">Control Biológico: Uso de animales benéficos.</p>
                <p class="list-detail">Control Locativo: En la edificación e instalaciones.</p>
                <p class="list-detail">Control Químico: Plaguicidas.</p>
            </div>
            <button type="button" class="btn btn-info rounded-pill py-2 px-4 text-uppercase my-4">Cotiza ahora</button>
        </div>
        <div class="d-flex">
            <div class="ms-5">
                <img class="imgservice" src="images/imgservices2.png" alt="">
            </div>
            <div class="ms-5">
                <img class="imgservice border border-start border-2" src="images/imgservices1.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="services-section1">
    <div class="d-flex">
        <div class="d-flex">
            <div class="me-5">
                <img class="imgservice2" src="images/imgservices1.png" alt="">
            </div>
            <div class="me-5">
                <img class="imgservice2" src="images/imgservices2.png" alt="">
            </div>
        </div>
        <div class="services-textbox2 bg-skyblue pt-5">
            <h1 class="blue-principal py-4">Limpieza en Altura <br>
            </h1>
            <p class="text-light">
                Diseñado para asegurar espacios limpios y saludables, libres de contaminantes y plagas. Nuestro equipo
                de expertos utiliza técnicas avanzadas y productos ecológicos para eliminar eficazmente microorganismos.
            </p>
            <div class="pt-4 ps-4 text-light">
                <p class="list-detail2">saneamiento en Oficinas y Centros Corporativos</p>
                <p class="list-detail2">Saneamiento en Edificios Residenciales y Condominios</p>
                <p class="list-detail2">Saneamiento en Centros Educativos</p>
                <p class="list-detail2">Saneamiento en Instituciones de Salud</p>
                <p class="list-detail2">Saneamiento en Establecimientos Comerciales y Restaurantes</p>
            </div>
            <button type="button" class="mt-5 btn btn-cotiza text-uppercase bg-bluep rounded-pill px-4 mb-3">Cotiza
                ahora</button>
        </div>
    </div>
</div>

<div class="services-section1 pt-3">
    <div class="d-flex">
        <div class="services-textbox">
            <h1 class="blue-principal">Limpieza <br>
                <span class="color-skyblue">Industrial</span>
            </h1>
            <p>
                correcto funcionamiento de las naves y fábricas que limpiamos, y es que un lugar pulcro y ordenado
                mejora el ambiente laboral y facilita la realización de los trabajos, en especial en aquellos lugares
                industriales
                en que la suciedad se acumula muy fácilmente y puede ser un foco de bacterias o insectos.
            </p>
            <div class="pt-4 ps-4">
                <p class="list-detail">
                    Limpiezas industriales en profundidad.
                </p>
                <p class="list-detail">
                    Mantenimiento de naves y fábricas.
                </p>
                <p class="list-detail">
                    Techos industriales y paredes de naves.
                </p>
                <p class="list-detail">
                    Limpiezas industriales de obras.
                </p>
                <p class="list-detail">
                    Cristales y ventanas de fábricas y naves.
                </p>
            </div>
            <button type="button" class="btn btn-info rounded-pill py-2 px-4 text-uppercase my-4">Cotiza ahora</button>
        </div>
        <div class="d-flex">
            <div class="ms-5">
                <img class="imgservice" src="images/imgservices2.png" alt="">
            </div>
            <div class="ms-5">
                <img class="imgservice border border-start border-2" src="images/imgservices1.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="services-section1 pt-0 mb-5">
    <div class="d-flex mb-5 pb-5">
        <div class="d-flex">
            <div class="me-5">
                <img class="imgservice2" src="images/imgservices1.png" alt="">
            </div>
            <div class="me-5">
                <img class="imgservice2" src="images/imgservices2.png" alt="">
            </div>
        </div>
        <div class="services-textbox2 bg-bluep pt-4">
            <h1 class="green py-4">Limpieza Para Eventos<br>
            </h1>
            <p class="text-light">
                Nos ocupamos de todos los aspectos de la limpieza en eventos puntuales que precisen de unos
                profesionales antes de producirse el acto, durante las horas de celebración del mismo y después de
                producirse con la retirada de residuos a contenedores habilitados al efecto
            </p>
            <div class="pt-4 ps-4 text-light">
                <p class="list-detail">
                    Limpieza de ferias y congresos.
                </p>
                <p class="list-detail">
                    Limpieza de Exposiciones.
                </p>
                <p class="list-detail">
                    Limpieza de stands de ferias.
                </p>
                <p class="list-detail">
                    Limpieza de desfiles de moda.
                </p>
                <p class="list-detail">
                    Limpieza de conciertos y otros más.
                </p>
            </div>
            <button type="button" class="mt-4 btn btn-cotiza text-uppercase rounded-pill px-4 mb-3">Cotiza
                ahora</button>
        </div>
    </div>
</div>