<div class="banner-home1">
    <div class="banner-box d-flex h-100 justify-content-center">
        <div class="position-relative box-m border-green border-top border-end border-2 border-radius w-100">
            <div class="box-p">
                <h1 class="text-detail text-light">Limpieza que cuida, <br> desición que protege</h1>
                <p class="text-light">En consorcio geppi, garantizamos una limpieza integral y eficiente <br>
                    para sus instalaciones. Nuestro equipo altamente capacitado utiliza <br>
                    técnicas de vanguardia en limpieza e higiene.</p>
            </div>
            <img class="position-absolute personal-banner1" src="images/personal2.png " alt="">
            <img class="position-absolute personal-banner2" src="images/personal1.png" alt="">
        </div>
    </div>
</div>
<div class="section1">
    <div class="d-flex width1030 justify-content-between mb-5">
        <div>
            <span class="green fs-5">
                Consorcio Geppi
            </span>
            <h2 class="blue-principal">
                Empresa de limpieza <br>
                Integral profesional
            </h2>
        </div>
        <div class="ms-5">
            <p class="p-grey section-p">
                Empresa con más de 8 años en el mercado, de experiencia en servicios <br>
                de limpieza, mantenimiento y saneamiento ambiental, así como servicios <br>
                especializados. Brindamos servicios integrales a empresas nacionales,<br>
                transnacionales e instituciones públicas, nos consolidamos como una<br>
                empresa líder y competitiva al servicio de tus necesidades.
            </p>
        </div>
    </div>
    <div class="d-flex width1030">
        <div class="p-3 border border-black border-corner me-4">
            <div class="hand-box mb-3">
                <img src="images/hands.png" alt="">
            </div>
            <h5 class="text-uppercase">Industria</h5>
            <p>Atendemos a organizaciones e instituciones educativas a fin de garantizar espacios limpios y saludables.
            </p>
        </div>
        <div class="p-3 border border-black border-corner me-4">
            <div class="hand-box mb-3">
                <img src="images/hands.png" alt="">
            </div>
            <h5 class="text-uppercase">EDUCATIVO</h5>
            <p>Atendemos a organizaciones e instituciones educativas a fin de garantizar espacios limpios y saludables.
            </p>
        </div>
        <div class="p-3 border border-black border-corner me-4">
            <div class="hand-box mb-3">
                <img src="images/hands.png" alt="">
            </div>
            <h5 class="text-uppercase">RETAIL</h5>
            <p>Atendemos a organizaciones e instituciones educativas a fin de garantizar espacios limpios y saludables.
            </p>
        </div>
        <div class="p-3 border border-black border-corner">
            <div class="hand-box mb-3">
                <img src="images/hands.png" alt="">
            </div>
            <h5 class="text-uppercase">Financieras</h5>
            <p>Atendemos a organizaciones e instituciones educativas a fin de garantizar espacios limpios y saludables.
            </p>
        </div>
    </div>
</div>
<div class="banner-home2 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <img class="w-25 mb-5" src="images/logo.png" alt="">
        <h3 class="text-light mb-4">Ofrecemos la mejor Tecnología e innovación<br>
            en Saneamiento, Limpieza y Desinfección</h3>
        <button type="button" class="btn btn-cotiza text-uppercase rounded-pill px-4 mb-3">Cotiza ahora</button>
    </div>
</div>
<div class="section3 bg-beige">
    <div class="section3-container m-auto pt-5">
        <div class="text-box text-center pt-5 mb-5">
            <span class="color-skyblue fw-semibold">Nuestros Servicios</span>
            <h3 class="mt-3 mb-5 blue-principal">
                Ofrecemos servicios de calidad a<br>
                nuestros clientes
            </h3>
        </div>
        <div class="gallery row">
            <div class="col text-center">
                <img class="shadow" src="images/img1.png" alt="">
                <p class="gallery-text fs-4 fw-semibold text-light position-relative">Limpieza Integral</p>
            </div>
            <div class="col text-center">
                <img class="shadow" src="images/img2.png" alt="">
                <p class="gallery-text fs-4 fw-semibold text-light position-relative">Saneamiento ambiental</p>
            </div>
            <div class="col text-center">
                <img class="shadow" src="images/img3.png" alt="">
                <p class="gallery-text fs-4 fw-semibold text-light position-relative">Control De Plagas</p>
            </div>
            <div class="col text-center">
                <img class="shadow" src="images/img4.png" alt="">
                <p class="gallery-text fs-4 fw-semibold text-light position-relative">Limpieza en altura</p>
            </div>
            <div class="col move-g position-relative text-center">
                <img class="shadow" src="images/img5.png" alt="">
                <p class="gallery-text fs-4 fw-semibold text-light position-relative">Limpieza industrial</p>
            </div>
            <div class="col text-center">
                <img class="shadow" src="images/img6.png" alt="">
                <p class="gallery-text fs-4 fw-semibold text-light position-relative">Limpieza para eventos</p>
            </div>
        </div>
    </div>
</div>
<div class="section4">
    <div class="d-flex justify-content-center mt-5">
        <div class="p-5 border-top border-end border-green border-radius border-3">
            <h4 class="color-skyblue text-center mb-4">Certificaciones Y Homologaciones</h4>
            <img src="images/socios.png" alt="">
        </div>
        <div class="p-5 border-top border-end border-green border-radius border-3">
            <h4 class="color-skyblue text-center mb-4">Nuestros clientes</h4>
            <img src="images/socios.png" alt="">
        </div>
    </div>
</div>