<div class="banner-us1">
    <div class="banner-box d-flex h-100 justify-content-center">
        <div class="position-relative box-m border-green border-2 border-top border-end z-1 border-radius w-100">
            <div class="box-p">
                <h1 class="text-detail text-light">Consorcio Geppi</h1>
                <p class="text-light">Empresa con más de 8 años en el mercado, de experiencia en<br>
                    servicios de limpieza, mantenimiento y saneamiento ambiental, así<br>
                    como servicios especializados.</p>
            </div>
        </div>
    </div>
    <img class="position-absolute banner-detail" src="images/banner-detail.png " alt="">
</div>
<div class="section1us d-flex justify-content-center mt-5 mb-5">
    <div class="section1us-w mt-5 mb-5">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column justify-content-center">
                <h3 class="blue-principal mb-5 fs-2">Líderes en soluciones <br>
                    <span class="color-skyblue">Integrales de limpieza</span><br>
                    para empresas
                </h3>
                <p>
                    Consorcio Geppi es una compañía fundada en 2002, desde entonces, nuestro equipo <br>
                    de profesionales se dedica a prestar servicio de limpieza a empresas, edificios y otras <br>
                    instalaciones. Llevamos a cabo trabajos de mantenimiento integral y soluciones <br>
                    integrales para empresas en todo el ámbito nacional. <br><br>
                    A día de hoy, nuestros servicios son considerados líderes dentro del sector de la <br>
                    limpieza, obras y mantenimiento gracias a la alta cualificación de nuestro equipo y a la <br>
                    utilización de sistemas y tecnologías de última generación. <br><br>
                    Cada vez son más los clientes que confían en nuestro trabajo, y nosotros seguimos <br>
                    trabajando cada día por ofrecer las mejores soluciones que contribuyan a la <br>
                    satisfacción de éstos.
                </p>
            </div>
            <div>
                <div>
                    <img src="images/usimage.png" alt="">
                    <div>
                        <img class="position-relative imgdetail" src="images/imgdetail.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center border-end border-green border-2">
                <span class="fs-1 fw-bold">261 <i class="green fw-bolder bi-plus-lg"></i></span>
                <p class="blue-principal fw-semibold">Sectores Trabajados </p>
            </div>
            <div class="col text-center border-end border-green border-2">
                <span class="fs-1 fw-bold">157 <i class="green fw-bolder bi-plus-lg"></i></span>
                <p class="blue-principal fw-semibold">Clientes Satisfechos </p>
            </div>
            <div class="col text-center border-end border-green border-2">
                <span class="fs-1 fw-bold">145 <i class="green fw-bolder bi-plus-lg"></i></span>
                <p class="blue-principal fw-semibold">Capacitaciones Constantes </p>
            </div>
            <div class="col text-center">
                <span class="fs-1 fw-bold">8 <i class="green fw-bolder bi-plus-lg"></i></span>
                <p class="blue-principal fw-semibold">Años en el mercado </p>
            </div>
        </div>
    </div>
</div>

<div class="section2us position-relative">
    <div class="position-relative d-flex mx-auto h-100 align-items-center">
        <div class="col mx-5 px-5">
            <h4 class="text-light m-text">Misión</h4>
            <p class="text-light">Brindar a los clientes un servicio responsable y profesional. Con servicios de alta
                calidad y seguridad
                en higiene para así crear ambientes sanos y satisfacer la necesidad del cliente y superar sus
                expectativas.</p>
        </div>
        <div class="col mx-5 px-5">
            <h4 class="text-light v-text">Visión</h4>
            <p class="text-light">Ser una empresa líder en el rubro de limpieza, destacando la innovación y calidad de
                nuestro servicio teniendo en cuenta el impacto ambiental.</p>
        </div>
    </div>
    <div>
        <img class="position-relative" src="images/banner-detail.png" alt="">
    </div>
</div>

<div class="section3us bg-beige d-flex justify-content-center align-items-center flex-column">
    <h3 class="color-skyblue text-center mb-4 fs-2 fw-bold">conoce nuestros valores</h3>
    <div class="s3div row mb-4">
        <div
            class="col m-4 bg-light d-flex justify-content-center p-3 flex-column border border-1 border-radius border-black">
            <div class="d-flex align-items-center mb-3">
                <div class="s3divhand d-flex p-1">
                    <img class="img-fluid" src="images/hands.png" alt="">
                </div>
                <h6 class="ms-3">Compromiso con la <br>
                    calidad</h6>
            </div>
            <p>Ofrecemos servicios de limpieza excepcionales, asegurando ambientes impecables y saludables para nuestros
                clientes.</p>
        </div>
        <div
            class="col m-4 bg-light d-flex justify-content-center p-3 flex-column border border-1 border-radius border-black">
            <div class="d-flex align-items-center mb-3">
                <div class="s3divhand d-flex p-1">
                    <img class="img-fluid" src="images/hands.png" alt="">
                </div>
                <h6 class="ms-3">Responsabilidad y <br>
                    Confianza</h6>
            </div>
            <p>honestidad e integridad en todas nuestras acciones. Cumplimos nuestras promesas y establecemos relaciones
                de confianza con nuestros clientes, empleados y proveedores</p>
        </div>
        <div
            class="col m-4 bg-light d-flex justify-content-center p-3 flex-column border border-1 border-radius border-black">
            <div class="d-flex align-items-center mb-3">
                <div class="s3divhand d-flex p-1">
                    <img class="img-fluid" src="images/hands.png" alt="">
                </div>
                <h6 class="ms-3">Innovación y Mejora <br>
                    Continua</h6>
            </div>
            <p>Buscamos constantemente nuevas formas de mejorar nuestros servicios y optimizar procesos mediante el uso
                de tecnologías y técnicas avanzadas en limpieza.</p>
        </div>
    </div>
    <div class="s3div2 row">
        <div
            class="col m-4 bg-light d-flex justify-content-center p-3 flex-column border border-1 border-radius border-black">
            <div class="d-flex align-items-center mb-3">
                <div class="s3divhand d-flex p-1">
                    <img class="img-fluid" src="images/hands.png" alt="">
                </div>
                <h6 class="ms-3">Respeto por el Medio <br>
                    Ambiente</h6>
            </div>
            <p>Comprometidos con la sostenibilidad utilizando productos ecológicos y prácticas responsables que
                minimizan el impacto ambiental.</p>
        </div>
        <div
            class="col m-4 bg-light d-flex justify-content-center p-3 flex-column border border-1 border-radius border-black">
            <div class="d-flex align-items-center mb-3">
                <div class="s3divhand d-flex p-1">
                    <img class="img-fluid" src="images/hands.png" alt="">
                </div>
                <h6 class="ms-3">Trabajo en Equipo y <br>
                    Desarrollo Personal</h6>
            </div>
            <p>ambiente de colaboración, respeto y crecimiento profesional, donde cada miembro del equipo es valorado y
                motivado para alcanzar su máximo potencial.</p>
        </div>
    </div>
</div>

<div class="section4us">
    <div class="section4usdiv border-top border-end border-green border-3 border-radius pt-5">
        <div class="row">
            <div class="col">
                <span class="green fw-semibold">Avalados por</span>
                <h4 class="blue-principal fw-semibold fs-3">Certificaciones y <br>
                    homologaciones
                </h4>
            </div>
            <div class="col-6 pe-5">
                <p class="p-grey fs-5">
                    Contar con certificaciones y homologaciones garantiza la calidad de nuestros servicios, el
                    cumplimiento de estándares internacionales, y demuestra nuestro compromiso con la excelencia y
                    sostenibilidad, ofreciendo a nuestros clientes un servicio confiado.
                </p>
                <div class="d-flex justify-content-center mt-5 pt-2">
                    <img class="" src="images/cert-icon.png" alt="">
                    <img class="" src="images/cert-icon.png" alt="">
                    <img class="" src="images/cert-icon.png" alt="">
                </div>
            </div>
            <div class="col position-relative pe-5 me-5" style="position: absolute;bottom: -90px;left: -10px;
        ">
                <div>
                    <img class="position-absolute bottom-0 z-2" src="images/personal1.png" alt="">
                    <img class="position-absolute bottom-0 l-50" src="images/rectangle.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section5us bg-beige">
    <div class="section5usdiv text-center">
        <span class="green fs-5 fw-semibold pb-5">Equipos Especializados</span>
        <h4 class="blue-principal fw-semibold fs-3 mb-5 pb-5">Nuestro poder operativo</h4>
        <img src="images/tools.png" alt="">
    </div>
</div>